@page
@using IdentityApp.Authorization

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>

<div class="text-center mb-5">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Invoice Management System.</p>
</div>

@if (User.IsInRole(Constants.InvoiceAdminRole))
{
    <div>
        <canvas id="myChart"></canvas>
    </div>
}



@section Scripts{
    <script>
        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Revenue Submitted",
                    backgroundColor: "rgba(0,0,0)",
                    borderColor: "rgba(0,0,0)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueSubmitted)
                },
                {
                    label: "Revenue Approved",
                    backgroundColor: "rgba(132,99,255)",
                    borderColor: "rgba(132,99,255)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueApproved)
                },
                {
                    label: "Revenue Rejected",
                    backgroundColor: "rgba(255,99,132)",
                    borderColor: "rgba(255,99,132)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueRejected)
                }

            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById("myChart"),
            config
        );
    </script>
}